In [15]:
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

In [16]:
df = spark.createDataFrame([('name1','id1',1,None,3),('name2','id2',None,2,5)],['NAME','personID','col1','col2','col3'])

In [17]:
df.show()

+-----+--------+----+----+----+
| NAME|personID|col1|col2|col3|
+-----+--------+----+----+----+
|name1|     id1|   1|NULL|   3|
|name2|     id2|NULL|   2|   5|
+-----+--------+----+----+----+

In [4]:
df.select([when(col(c).isNotNull(), 1).otherwise(0).alias(c + '_N') for c in df.columns]).show()

+------+----------+------+------+------+
|NAME_N|personID_N|col1_N|col2_N|col3_N|
+------+----------+------+------+------+
|     1|         1|     1|     0|     1|
|     1|         1|     0|     1|     1|
+------+----------+------+------+------+

In [9]:
from pyspark.sql.functions import *
df.select([when(col(c).isNull() ,'NULL').otherwise(c).alias(c) for c in df.columns]).show()

+----+--------+----+----+----+
|NAME|personID|col1|col2|col3|
+----+--------+----+----+----+
|NAME|personID|col1|NULL|col3|
|NAME|personID|NULL|col2|col3|
+----+--------+----+----+----+

In [18]:
df.select([count(when(col(c).isNull() ,c)).alias(c) for c in df.columns]).show()

+----+--------+----+----+----+
|NAME|personID|col1|col2|col3|
+----+--------+----+----+----+
|   0|       0|   1|   1|   0|
+----+--------+----+----+----+